<div class="add-post-content">
  <div class="container">
    <div>
      <h3 class="new-post-title">Edit Your Post</h3>
    </div>
    <hr>
    <form>
      <div class="form-group">
        <label class="post-title">Title</label>
        <input type="text" [(ngModel)]="blog.title" name="title"  class="form-control" placeholder="Title">
      </div>
      <div class="form-group">
        <label class="post-title">Category</label>
        <select class="form-control" style="width: 400px" name="category" [(ngModel)]="blog.category">
          <option value="FOOD">Food</option>
          <option value="TRAVEL">Travel</option>
          <option value="LIFESTYLE">Lifestyle</option>
          <option value="SPORTS">Sports</option>
        </select>
      </div>
      <div class="form-group">
        <label class="post-title">Image-Src</label>
        <input type="text" [(ngModel)]="blog.imgsrc" name="img"  class="form-control" placeholder="Write Image Source">
      </div>
      <div class="form-group">
        <label class="post-title">Keep-It</label><br>
        <div class="custom-control custom-radio mb-3 ">

          <div>
            <input type="radio" name="gender" [(ngModel)]="blog.status"  class="custom-control-input" id="customradio1"  value="private" >
            <label class="custom-control-label" for="customradio1">Private</label>
          </div>
          <div>
            <input type="radio" name="gender" [(ngModel)]="blog.status"  class="custom-control-input" id="customradio2"  value="public" >
            <label class="custom-control-label" for="customradio2">Public</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="post-content">Body</label>
        <editor [(ngModel)]="blog.content" name="body" [init]="{plugins: 'link'}"></editor>
      </div>
      <div class="form-group">
        <button (click)="save()" type="submit" class="btn btn-primary">Save</button>
      </div>
    </form >
  </div>
</div>
